@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --accent: 75, 255, 150;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));

}

a {
  position: relative;
  color: rgb(var(--accent));
}

a:after {
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 1px;
  content: '';
  background: rgb(var(--accent));
  opacity: 0.25;
}

header {
  position: fixed;
  width: 100%;
  height: 6em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 2em;
  background: rgb(var(--background-start-rgb), 0.5);
  backdrop-filter: blur(25px) saturate(150%);
  z-index: 1000;
}

header h1 {
  font-weight: 500;
}

main {
  padding-top: 6em;
}

.hero-banner {
  position: relative;
  aspect-ratio: 4/3;
  margin-bottom: 1.1em;
  padding: 1.1em;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  font-weight: 700;
  font-size: 1.8em;
  line-height: 1.15em;
  letter-spacing: -1px;
}

.anchor-square {
  background: rgb(var(--accent));
  width: 0.5em;
  height: 0.5em;
  margin-bottom: 0.5em;
  display: block;
}

.case-study {
  padding: 0 2em 3em 2em;
}

.case-study .img {
  position: relative;
  aspect-ratio: 4/3;
  margin-bottom: 0.25em;
  border-radius: 2px;
  object-fit: cover;
}

.imgimg {
  object-fit: cover;
}

.case-study h2 {
  font-weight: 500;
}

.case-study p {
  opacity: 0.7;
  font-size: 0.8em;
}
