@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 214, 219, 220;
  --accent: 75, 255, 150;
  --spacing-default: calc(1rem + 2vw);
  --spacing-sm: calc(1rem + 1vw);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

a {
  position: relative;
  color: rgb(var(--accent));
}

a:after {
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 100%;
  height: 1px;
  content: '';
  background: rgb(var(--accent));
  opacity: 0.35;
}

header {
  position: fixed;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: var(--spacing-sm) var(--spacing-default);
  background: rgb(var(--background-start-rgb), 0.5);
  backdrop-filter: blur(25px) saturate(150%);
  z-index: 1000;
  line-height: 1rem;
}

header::before {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(var(--background-rgb), 1), rgba(var(--background-rgb), 0.5));
  content: '';
}

header h1 {
  font-weight: 400;
}

main {
  padding-top: calc(1rem + var(--spacing-sm) + var(--spacing-sm));
  display: flex;
  flex-wrap: wrap;
}

.hero-banner {
  position: relative;
  width: 100%;
  height: 100vh;
  margin-top: calc(-1 * (1rem + var(--spacing-sm) + var(--spacing-sm)));
  padding: var(--spacing-default);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-size: clamp(1.8em, 20vw, 20em);
  line-height: 1.15em;
  letter-spacing: -0.1em;
}

@keyframes riseIn {
  0% {
    opacity: 0;
    transform: translateY(0);
    filter: blur(3px);
  }

  100% {
    opacity: 1;
    transform: translateY(-2rem);
  }
}

.hero-banner h1 {
  animation: riseIn 1s ease-out forwards;
}

.heroFGcontainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.heroFG {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.anchor-square {
  background: rgb(var(--accent));
  width: 0.5em;
  height: 0.5em;
  margin-bottom: 0.5em;
  display: block;
}

.work {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(1, 1fr);
  gap: calc(0.5em + 2vw);
  padding: 50vh var(--spacing-default) 3em var(--spacing-default);
}

@media screen and (min-width: 800px) {
  .work {
    grid-template-columns: repeat(2, 1fr);
  }
}

.case-study {
  width: 100%;
}


.case-study .img {
  position: relative;
  aspect-ratio: 4/3;
  margin-bottom: 0.25em;
  border-radius: 2px;
  object-fit: cover;
  z-index: -1;
}

.imgimg {
  object-fit: cover;
}

.case-study h2 {
  font-size: 1em;
  font-weight: 600;
}

/* .case-study h2::after {
  content: ' →';
} */

.case-study p {
  opacity: 0.7;
  font-size: 0.8em;
}
